/** color variables **/
$color-black: #000;
$color-white: #fff;
$color-steam: #ddd;
$color-gold-morning: #e5e5e5;
$color-celebral-grey: #ccc;
$color-dreamless-sleep: #111;
$color-carbon: #333;
$color-bleached-silk: #f2f2f2;
$color-argent: #898989;
$color-pallid-orange: #f9b99c;

/** Screen size variables **/
$screenxs: 575px;
$screensm: 768px;
$screenmd: 992px;